# github push ignore directory
ignore/

# temp directory
temp/

# node_modules
node_modules/

# file
*_test.*
package-lock.json
yarn.lock

# webpack make directory
public/

# build directory
build/
lib/
test/
dist/